<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iceberry.bootAction.mapper.HelloMapper">
    <select id="findUserByName" resultType="com.iceberry.bootAction.entity.User">
        SELECT id,name,age,sex FROM User WHERE name=#{name}
    </select>
</mapper>